<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelI210Ethernet</string>
	<key>CFBundleGetInfoString</key>
	<string>Apple Intel I210 Ethernet, Copyright 2013-2016 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelI210Ethernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.driver.AppleIntelI210Ethernet</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21F69</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.4</string>
	<key>DTSDKBuild</key>
	<string>21F69</string>
	<key>DTSDKName</key>
	<string>macosx12.4.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelI210</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelI210Ethernet</string>
			<key>IOClass</key>
			<string>AppleIntelI210</string>
			<key>IOMatchDefer</key>
			<true/>
			<key>IOPCIPrimaryMatch</key>
			<string>0x15338086</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClient</key>
			<string>mDNSI210OffloadUserClient</string>
			<key>OSObject</key>
			<string>mDNSI210Handoff</string>
			<key>fetch_delay</key>
			<integer>70000</integer>
		</dict>
		<key>AppleIntelI225</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelI210Ethernet</string>
			<key>IOClass</key>
			<string>AppleIntelI210</string>
			<key>IOMatchDefer</key>
			<true/>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,15f2</string>
				<string>pci8086,15f3</string>
				<string>pci8086,3100</string>
				<string>pci8086,3101</string>
				<string>pci8086,5502</string>
				<string>pci8086,d9f</string>
				<string>pci8086,15f8</string>
				<string>pci8086,15f7</string>
				<string>pci8086,15fd</string>
			</array>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClient</key>
			<string>mDNSI210OffloadUserClient</string>
			<key>OSObject</key>
			<string>mDNSI210Handoff</string>
			<key>fetch_delay</key>
			<integer>70000</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.mDNSOffloadUserClient</key>
		<string>1.0.0d7</string>
		<key>com.apple.iokit.IOEthernetAVBController</key>
		<string>1.0.3b2</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
