<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleGetInfoString</key>
	<string>1.6 Copyright © 2020 chinamobilemag.de. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>de.chinamobilemag.RadeonBoost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RadeonBoost</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>model</key>
			<string>iMacPro1,1 MacPro7,1 MacPro5,1 MacPro4,1</string>
			<key>Machines</key>
			<dict>
				<key>MacPro4,1</key>
				<dict>
					<key>Vendor1002Device66af</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device7340</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device731f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device687f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6863</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device67DF</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor10deDevice05e2</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>Vendor10deDevice0640</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>88</integer>
								<integer>88</integer>
								<integer>88</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>95</integer>
								<integer>95</integer>
								<integer>95</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>default-control-id</key>
					<integer>18</integer>
				</dict>
				<key>MacPro5,1</key>
				<dict>
					<key>Vendor1002Device66af</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device7340</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device731f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device687f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6863</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device67DF</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor10deDevice05e2</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>Vendor10deDevice0640</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>93</integer>
								<integer>93</integer>
								<integer>93</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>97</integer>
								<integer>97</integer>
								<integer>97</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>default-control-id</key>
					<integer>18</integer>
				</dict>
				<key>MacPro7,1</key>
				<dict>
					<key>SlotControl</key>
					<integer>1</integer>
					<key>Vendor1002Device7310</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device686e</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device686d</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6867</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device66a7</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device66a3</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device66af</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device7340</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device731f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device687f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6863</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device67DF</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>iMacPro1,1</key>
				<dict>
					<key>Vendor1002Device6860</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6867</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device66af</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device7340</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device731f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device687f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device6863</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
					<key>Vendor1002Device67DF</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Vega20Boost</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOPCIMatch</key>
			<string>0x66AF1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>PP_DiDtSQPatternWidthOverride</key>
				<integer>14</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>300</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>90</integer>
				<key>SMU_DisallowedFeatures</key>
				<integer>0</integer>
				<key>Force_Load_FalconSMUFW</key>
				<true/>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>1</integer>
				<key>ATY,EFIVersionB</key>
				<string>RadeonBoost</string>
			</dict>
		</dict>
		<key>Navi14Boost</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x73401002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>250</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>100</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>SMU_ActivityMonitorTable</key>
				<data>AAQABAIA6AMAAAEAAAAAAAAAAADQAQEAMP7+/wAAAAAABAAAAgDoAwAAAQAAAAAAAAAAANABAQA45v//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAkFAAFkPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>Force_Load_FalconSMUFW</key>
				<false/>
				<key>ATY,EFIVersionB</key>
				<string>RadeonBoost</string>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>32</integer>
			</dict>
		</dict>
		<key>Navi10Boost</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x731F1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>250</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>100</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>SMU_ActivityMonitorTable</key>
				<data>AAQABAIA6AMAAAEAAAAAAAAAAADQAQEAMP7+/wAAAAAABAAAAgDoAwAAAQAAAAAAAAAAANABAQA45v//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAkFAAFkPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>Force_Load_FalconSMUFW</key>
				<false/>
				<key>ATY,EFIVersionB</key>
				<string>RadeonBoost</string>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>32</integer>
			</dict>
		</dict>
		<key>PolarisBoost</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x67DF1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>PP,PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>CFG,CFG_NVV</key>
				<integer>2</integer>
				<key>CFG,CFG_USE_CP2</key>
				<true/>
				<key>PP,PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>CFG,CFG_PTPL2_TBL</key>
				<data>ggAAAHwAAAB2AAAAcAAAAGoAAABkAAAAXgAAAFgAAABSAAAATAAAAEYAAABAAAAAOgAAADQAAAAuAAAAKAAAAA==</data>
				<key>ATY,EFIVersionB</key>
				<string>RadeonBoost</string>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
