<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMac20,2-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:20:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>GgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel USBC</string>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>UsbConnector</key>
						<integer>9</integer>
					</dict>
					<key>HS02</key>
					<dict>
						<key>#port</key>
						<data>AgAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Upper Red USB3.2</string>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>HS04</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Bottom Red USB3.2</string>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>HS05</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel USB3.1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel USB3.1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel USB Hub Yellow and Blue USB3.2</string>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>UsbConnector</key>
						<integer>255</integer>
					</dict>
					<key>HS08</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel USB2 on Upper Thunderbolt</string>
						<key>#port</key>
						<data>CAAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>HS09</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Upper Right USB2</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel BIOS USB2</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#port</key>
						<data>CgAAAA==</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>Comment</key>
						<string>Internal USB2 Hub (two ports at Bottom of Motherboard)</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>CwAAAA==</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>Comment</key>
						<string>Internal RGB Controller</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>#port</key>
						<data>DAAAAA==</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel USB2 on Bottom Thunderbolt</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>#port</key>
						<data>DQAAAA==</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>Comment</key>
						<string>Internal M.2 Intel Wifi-Bluetooth USB2</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>#port</key>
						<data>DgAAAA==</data>
					</dict>
					<key>HS15</key>
					<dict>
						<key>#port</key>
						<data>DwAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>HS16</key>
					<dict>
						<key>#port</key>
						<data>EAAAAA==</data>
						<key>UsbConnector</key>
						<integer>3</integer>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel Type-C USB3</string>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>port</key>
						<data>EQAAAA==</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel Type-C USB3</string>
						<key>port</key>
						<data>EgAAAA==</data>
						<key>UsbConnector</key>
						<integer>10</integer>
					</dict>
					<key>SS03</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Upper Red USB3.2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>EwAAAA==</data>
					</dict>
					<key>SS04</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Bottom Red USB3.2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FAAAAA==</data>
					</dict>
					<key>SS05</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel USB3.1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FQAAAA==</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>Comment</key>
						<string>Front Panel USB3.1</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FgAAAA==</data>
					</dict>
					<key>SS07</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel USB Hub Yellow and Blue USB3.2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FwAAAA==</data>
					</dict>
					<key>SS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>#port</key>
						<data>GAAAAA==</data>
					</dict>
					<key>SS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>#port</key>
						<data>GQAAAA==</data>
					</dict>
					<key>SS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>#port</key>
						<data>GgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac20,2</string>
		</dict>
		<key>iMac20,2-XHC5</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC5</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x15ec8086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCITR</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>SSP1</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Upper Thunderbolt</string>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>SSP1</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>SSP2</key>
					<dict>
						<key>Comment</key>
						<string>Back Panel Bottom Thunderbolt</string>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>SSP2</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac20,2</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
